# Trabalho 3 - Algoritmos de Machine Learning
## Isaac Müller de Oliveira Gomes - 412489

In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [52]:
df = pd.read_csv("rouanet1020final.csv")
df.drop("Unnamed: 0",axis=1, inplace=True)
df = df.loc[df['valor_proposta'] != 0.0]

In [53]:
df.shape

(10247, 7)

In [54]:
df

,area,data,ano,municipio,valor_proposta,valor_captado,uf
0,Artes Integradas,01/06/2010 - 30/06/2010,2010,Bento Gonçalves,79700.00,0.0,RS
1,Artes Integradas,01/03/2010 - 30/08/2010,2010,Rio de Janeiro,1141125.00,450000.0,RJ
2,Humanidades,01/03/2010 - 30/09/2010,2010,Americana,13500.00,0.0,SP
3,Música,01/03/2010 - 03/05/2010,2010,Goiânia,261140.00,0.0,GO
4,Música,01/03/2010 - 31/12/2010,2010,Brasília,291595.00,0.0,DF
...,...,...,...,...,...,...,...
10995,Humanidades,15/04/2020 - 31/12/2021,2020,Natal,305380.46,244304.0,RN
10996,Humanidades,01/05/2020 - 31/03/2023,2020,Guararema,421237.30,0.0,SP
10997,Música,30/01/2020 - 31/12/2021,2020,Rio de Janeiro,404291.11,295000.0,RJ
10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,Teresina,998497.50,0.0,PI
10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,São Paulo,199445.40,15000.0,SP

In [55]:
df["results"] = 0
df

,area,data,ano,municipio,valor_proposta,valor_captado,uf,results
0,Artes Integradas,01/06/2010 - 30/06/2010,2010,Bento Gonçalves,79700.00,0.0,RS,0
1,Artes Integradas,01/03/2010 - 30/08/2010,2010,Rio de Janeiro,1141125.00,450000.0,RJ,0
2,Humanidades,01/03/2010 - 30/09/2010,2010,Americana,13500.00,0.0,SP,0
3,Música,01/03/2010 - 03/05/2010,2010,Goiânia,261140.00,0.0,GO,0
4,Música,01/03/2010 - 31/12/2010,2010,Brasília,291595.00,0.0,DF,0
...,...,...,...,...,...,...,...,...
10995,Humanidades,15/04/2020 - 31/12/2021,2020,Natal,305380.46,244304.0,RN,0
10996,Humanidades,01/05/2020 - 31/03/2023,2020,Guararema,421237.30,0.0,SP,0
10997,Música,30/01/2020 - 31/12/2021,2020,Rio de Janeiro,404291.11,295000.0,RJ,0
10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,Teresina,998497.50,0.0,PI,0
10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,São Paulo,199445.40,15000.0,SP,0

In [56]:
results = []
for index, row in df.iterrows():
    result = row['valor_captado']
    if result > 0.0:
        results.append(1)
    else:
        results.append(0)

In [57]:
df['results'] = results
df

,area,data,ano,municipio,valor_proposta,valor_captado,uf,results
0,Artes Integradas,01/06/2010 - 30/06/2010,2010,Bento Gonçalves,79700.00,0.0,RS,0
1,Artes Integradas,01/03/2010 - 30/08/2010,2010,Rio de Janeiro,1141125.00,450000.0,RJ,1
2,Humanidades,01/03/2010 - 30/09/2010,2010,Americana,13500.00,0.0,SP,0
3,Música,01/03/2010 - 03/05/2010,2010,Goiânia,261140.00,0.0,GO,0
4,Música,01/03/2010 - 31/12/2010,2010,Brasília,291595.00,0.0,DF,0
...,...,...,...,...,...,...,...,...
10995,Humanidades,15/04/2020 - 31/12/2021,2020,Natal,305380.46,244304.0,RN,1
10996,Humanidades,01/05/2020 - 31/03/2023,2020,Guararema,421237.30,0.0,SP,0
10997,Música,30/01/2020 - 31/12/2021,2020,Rio de Janeiro,404291.11,295000.0,RJ,1
10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,Teresina,998497.50,0.0,PI,0
10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,São Paulo,199445.40,15000.0,SP,1

In [58]:
capitais = ["Fortaleza", "Rio Branco", "Maceió", "Macapá", "Manaus", "Salvador", "Brasília", "Vitória", "Goiania", "São Luís",
            "Cuiabá", "Campo Grande", "Belo Horizonte", "Belém", "João Pessoa", "Curitiba", "Recife", "Teresina", "Rio de Janeiro",
           "Natal", "Porto Alegre", "Boa Vista", "Florianópolis", "São Paulo", "Aracaju", "Palmas"]

capital = []
for index, row in df.iterrows():
    cap = row['municipio']
    if cap in capitais:
        capital.append(1)
    else:
        capital.append(0)
        
df["capital"] = capital

In [59]:
class LogisticRegression:
    def __init__(self, lr=0.01, num_iter=100000, fit_intercept=True):
        self.lr = lr
        self.num_iter = num_iter
        self.fit_intercept = fit_intercept
    
    def __add_intercept(self, X):
        intercept = np.ones((X.shape[0], 1))
        return np.concatenate((intercept, X), axis=1)
    
    def __sigmoid(self, z):
        return 1 / (1 + np.exp(-z))
    def __loss(self, h, y):
        return (-y * np.log(h) - (1 - y) * np.log(1 - h)).mean()
    
    def fit(self, X, y):
        if self.fit_intercept:
            X = self.__add_intercept(X)
        
        # weights initialization
        self.weight = np.zeros(X.shape[1])
        
        for i in range(self.num_iter):
            z = np.dot(X, self.weight)
            h = self.__sigmoid(z)
            gradient = np.dot(X.T, (h - y)) / y.size
            self.weight -= self.lr * gradient
    
    def predict_prob(self, X):
        if self.fit_intercept:
            X = self.__add_intercept(X)
    
        return self.__sigmoid(np.dot(X, self.weight))
    
    def predict(self, X, threshold=0.5):
        return self.predict_prob(X) >= threshold

In [60]:
df.drop(["ano", "data", "municipio"], axis=1, inplace=True)

In [61]:
df['area'] = pd.Categorical(df.area)
df['uf'] = pd.Categorical(df.uf)

In [62]:
df['areacd'] = df['area'].cat.codes
df['ufcd'] = df['uf'].cat.codes
df["valor_proposta"] = df["valor_proposta"].apply(lambda x: x/1000000)

In [68]:
X= df[["areacd", "ufcd"]]
y = df['results']

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [70]:
model = LogisticRegression(lr=0.1,num_iter= 100000)
model.fit(X_train, y_train)

In [71]:
preds = model.predict(X_test)
preds

array([False, False, False, ..., False, False, False])

In [72]:
print("acurácia: ")
print(accuracy_score(y_test,preds))

acurácia:
0.7333333333333333